﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app")
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="navbar navbar-inverse" role="banner" ng-if=" !layout ">
        @* The 'layout' property is set inside the app.run(..) method on '$stateChangeSuccess' *@
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">From Little Things</a><small style="display:none;">Sustainable acts add up</small>
            </div>
            <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li ng-show="authentication.isAuth">
                        <a href="./timeline">Timeline</a>
                    </li>
                    <li ng-show="authentication.isAuth">
                        <a href="./things">Add things...</a>
                    </li>
                    <li ng-show="authentication.isAuth">
                        <a href="./rewards">Saved animals</a>
                    </li>
                    <li ng-show="authentication.isAuth">
                        <a href="./leaderboards">Leaderboards</a>
                    </li>
                    <li ng-show="authentication.isAuth">
                        <a href="./friends">Friends</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="authentication.isAuth || hideSignUpMenu">
                        <a href="./signup">SignUp</a>
                    </li>
                    <li ng-hide="authentication.isAuth || hideLoginMenu">
                        <a href="./login">Log In</a>
                    </li>
                    <li ng-show="authentication.isAuth">
                        <a href="./logout">Log Out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>

    <div id="ui-notifications" ng-controller="NotificationsCtrl">
        <alert ng-repeat="notification in notifications" class="alert-notification" type="info" close="closeAlert($index)" ng-cloak>{{notification.text}}</alert>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    @Scripts.Render("~/js/app")
    @*
        Google Analytics
        ----------------
        Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
        script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
        the max number of simultaneous connections of the browser.
        https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
    </script>
</body>
</html>