﻿
<spinner show="showSpinner"></spinner>
<div class="row" ng-cloak>
    <div ng-show="isValid()">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="confirmPassword()">
            <h2 class="text-center">Confirm New Password</h2>
            <div class="alert alert-danger" ng-show="showError">
                <span ng-bind="errorMessage"></span>
            </div>
            <div class="alert alert-success" ng-show="showSuccess">
                <span>Your new password has been set. You will now be redirected to the login screen.</span>
            </div>
            <div class="form-box" ng-hide="showSuccess">
                <p>Enter your new password.</p>
                <div class="form-group">
                    <input ng-model="confirmPasswordModel.newPassword" type="text" class="form-control" placeholder="New Password" required autofocus />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(confirmPasswordModel.newPassword)" disabled>Save new password</button>
                </div>

            </div>
        </form>
    </div>
    <div class="alert alert-danger" ng-hide="isValid()">
        <span>The link is invalid or has expired.</span>
    </div>
</div>