﻿@{
    PageData["title"] = "Friends";
}
<div ng-cloak>
    <form ng-submit="addFriend()">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Add a friend
            </div>
            <div class="panel-body">
                <div ng-show="addModel.success" class="alert alert-success">
                    <span>You have added a new friend!</span>
                </div>
                <div ng-show="addModel.error" class="alert alert-danger">
                    <span ng-bind="addModel.errorMessage">An error occured adding the friend.</span>
                </div>

                <div>
                    <input ng-model="addModel.email" placeholder="Your friend's email" />
                    <button type="submit" class="btn btn-primary">Add friend</button>
                </div>
                <spinner show="showAddSpinner"></spinner>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            Friends
        </div>
        <div class="panel-body">
            <spinner show="showSpinner"></spinner>
            <div ng-show="friendModel.error">
                <span ng-bind="friendModel.errorMessage" class="alert alert-danger">An error occured retrieving your friend list.</span>
            </div>
            <table class="table table-striped">
                <tr ng-repeat="item in friendModel.friends">
                    <td><graceful-image srcs="item.imageUrls"></graceful-image></td>
                    <td ng-bind="item.name"></td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteFriend(item.friendId)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>