﻿@{
    PageData["title"] = "Little Things: Home";
}
<div class="container">
    <div class="row">
        You should probably either <a href="/about"> read about us</a>, <a href="/signup">sign up</a> or <a href="/login">login</a>.
    </div>
</div>
