﻿@{
    PageData["title"] = "Leaderboard";
}
<div class="panel panel-default">
    <div class="panel-heading">
       Leaderboard
    </div>
    <div class="panel-body">
        <spinner show="showSpinner"></spinner>
        <table class="table table-striped" >
            <tr ng-repeat="item in leaderboardModel.leaderboard">
                <td>{{$index+1}}</td>
                <td><graceful-image srcs="item.imageUrls"></graceful-image></td>
                <td>{{item.name}}</td>
                <td>{{item.points}} points</td>
            </tr>
        </table>
    </div>
</div>
