﻿<spinner show="showSpinner"></spinner>
<div class="row">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="login(loginData.userName, loginData.password)">
        <h2 class="text-center">Sign In</h2>
        <div class="alert alert-danger" ng-show="showError">
            <span ng-bind="errorMessage"></span>
        </div>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="loginData.userName" type="text" class="form-control" placeholder="Username or Email" required autofocus />
            </div>
            <div class="form-group">
                <input ng-model="loginData.password" type="password" class="form-control" placeholder="Password" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(loginData.userName && loginData.password)" disabled>Sign In</button>
            </div>
        </div>
        <div><h3>Forgot your password?</h3>
        <p><a href="./resetPassword">Reset your password.</a></p>
        </div>
    </form>
</div>