﻿
<spinner show="showSpinner"></spinner>
<div class="row" ng-cloak>
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="resetPassword()">
        <h2 class="text-center">Reset Password</h2>
        <div class="alert alert-danger" ng-show="showError">
            <span ng-bind="errorMessage"></span>
        </div>
        <div class="alert alert-success" ng-show="showSuccess">
            <span>An email has been sent to your registered email account. Follow the instructions on the email to select a new password.</span>
        </div>
        <div class="form-box" ng-hide="showSuccess">
            <p>Enter your email here to reset your password. An email will be sent to your email account with a link enabling you to enter a new password.</p>
            <div class="form-group">
                <input ng-model="resetPasswordModel.email" type="text" class="form-control" placeholder="Email" required autofocus />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(resetPasswordModel.email)" disabled>Reset password</button>
            </div>

        </div>
    </form>
</div>