﻿@{
    PageData["title"] = "Rewards";
}
<div ng-cloak>
    <div class="panel panel-default" ng-hide="achievementModel.achievements.length">
        <div class="panel-heading">
            <span>Do some good things every day and you'll earn points and be a friend of the earth and all its cute little critters!</span>
        </div>
        <div class="panel-body">
            <spinner show="showSpinner"></spinner>
        </div>
    </div>
    <div class="panel panel-default" ng-show="achievementModel.achievements.length">
        <div class="panel-heading">
            <span>You've been doing great work, earning points and making the world a better place. These little guys are all grateful and want to say 'Awesome work!'</span>
        </div>
        <div class="panel-body">
            <div>
                <spinner show="showSpinner"></spinner>
                <carousel interval="5000">
                    <slide ng-repeat="item in achievementModel.achievements">
                        <img ng-src="{{item.imageUrl}}" style="margin:auto;">
                        <div class="carousel-caption" style="background-color: rgba(155,155,155,0.5);">
                            <h4>{{item.name}}</h4>
                            <p>{{item.description}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>
