﻿<spinner show="showSpinner"></spinner>
<div ng-cloak>
    <div ng-show="showSuccess" class="alert alert-success">
        <span ng-bind="message"></span>
    </div>
    <div ng-show="showError" class="alert alert-danger">
        <span ng-bind="message"></span>
    </div>
    <div class="row">
        <form class="form-login col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" role="form" name="signUpForm">
            <h2 class="text-center">Sign up</h2>
            <div class="form-box">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First name" data-ng-model="registration.firstName" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last name" data-ng-model="registration.lastName" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>