﻿<div ng-cloak>
    <div class="alert alert-info" ng-hide="canSave">
        <p>Your things for this day have already been saved. Do something good today!</p>
    </div>
    <div class="alert alert-danger" ng-show="response.showError">
        <span ng-bind="response.errorMessage"></span>
    </div>
    <div class="alert alert-success" ng-class="{fade:response.fadeAlert}" ng-show="response.showMessage" ng-bind="response.message">
    </div>
    <div class="row" id="activity-header">
        <div class="col-md-2 col-xs-2" ng-show="canGoPreviousDate">
            <button ng-click="previousDay()" class="btn hidden-xs">Previous day</button>
            <button ng-click="previousDay()" class="btn btn-sm visible-xs"><<</button>
        </div>
        <div class="col-md-8 col-xs-8">
            <h3 ng-bind="activityModel.asAtDate | date:'dd-MMM-yyyy'" class="text-center "></h3>
        </div>
        <div class="col-md-2 col-xs-2" ng-show="canGoNextDate">
            <button ng-click="nextDay()" class="btn hidden-xs pull-right">Next day</button>
            <button ng-click="nextDay()" class="btn btn-sm visible-xs pull-right">>></button>
        </div>
    </div>
    <form ng-submit="updateActivities()">
        <tabset>
            <tab ng-repeat="group in activityModel.activities" class="activities-tab">
                <tab-heading><span class="glyphicon tabicon tabicon-{{group.activityGroupId}}"></span><span class="hidden-xs">{{group.name}}</span></tab-heading>

                <div class="panel">
                    <h4 class="visible-xs" ng-bind="group.name"></h4>
                    <div class="checkbox" ng-repeat="activity in group.activities">
                        <label>
                            <input type="checkbox" ng-model="activity.isChecked" ng-disabled="!canSave">
                            <span ng-bind="activity.name"></span>
                            <span class="badge" ng-bind="activity.points + ' points'"></span>
                        </label>
                    </div>
                </div>
            </tab>
        </tabset>
        <button class="btn btn-success" ng-show="canSave">Save</button>
        <spinner show="showSpinner"></spinner>
    </form>
</div>