﻿<div ng-cloak>
    <div class="alert alert-danger" ng-show="showError">
        <span ng-bind="message"></span>
    </div>
    <div class="row" ng-show="timelineModel.noResults">
        <p>Your timeline is empty.</p>
    </div>
    <div infinite-scroll='scroll()' infinite-scroll-disabled='isScrolling' infinite-scroll-distance='1'>
        <div ng-repeat='item in timelineModel.timeline' class="container-fluid">
            <div class="row">
                <div style="vertical-align: top;" class="panel col-md-12 timeline-item">
                    <div class="panel-body clearfix">
                        <div style="float:left; vertical-align: top; width: 50px; height: 100%;">
                            <graceful-image srcs="item.imageUrls"></graceful-image>
                        </div>
                        <div style="margin-left: 50px;">
                            <span ng-bind="item.text"></span>
                            <br /><span am-time-ago="item.created" class="small"></span>
                            <br /><!--<like is-liked="true" likes="item.likes" id="item.timelineId"></like>-->
                            <comments-directive comments="item.comments" id="item.timelineId" user="user"></comments-directive>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <spinner show="isScrolling"></spinner>
</div>