﻿<spinner show="showSpinner"></spinner>
<div ng-cloak>
    <div class="container">
        <div class="row">
            <div style="float:left;" ng-mouseenter="showUpload=true" ng-mouseleave="showUpload=false">
                <graceful-image srcs="userProfileModel.imageUrls" ng-show="!showUploadSpinner"></graceful-image>
                <div class="uploadProfileAction" ngf-select ng-model="files" ng-show="showUpload && !showUploadSpinner">Upload profile picture</div>
                <spinner show="showUploadSpinner"></spinner>
            </div>
            <div style="margin-left: 180px;">
                <h2><span ng-bind="'Hi ' + userProfileModel.firstName + '!'" ng-show="userProfileModel.firstName"></span></h2>
                <p><span ng-bind="userProfileModel.points + 'points'" ng-show="userProfileModel.points"></span><p>
            </div>
        </div>
        <div class="row">
            <div ng-class="{'label-warning':history.points==0, 'label-success':history.points>0}" class="label day-summary text-center" ng-repeat="history in userProfileModel.history.slice().reverse()">
                <span ng-class="{'glyphicon-ban-circle':history.points==0, 'glyphicon-align-left':history.points>0}" class="glyphicon"></span>
                <h4 class="right" ng-bind="history.name + ' ' + history.points + 'pts'"></h4>
            </div>
        </div>
    </div>


</div>




