﻿<div class="panel" style="margin-top:5px;">
    <div class="panel-body">
        <div ng-repeat="comment in comments.comments">
            <div style="float:left; vertical-align: top; width: 30px; height: 100%;">
                <graceful-image srcs="comment.imageUrls" width="25" height="25"></graceful-image>
            </div>
            <div style="margin-left: 40px;">
                <span ng-bind="comment.fullName"></span>&nbsp;<span ng-bind="comment.text"></span>
                <br /><span am-time-ago="comment.created" class="small"></span>&nbsp;
                <br /><like is-liked="true" likes="comment.likes" id="comment.commentId"></like>
            </div>
        </div>
        <div>
            <div style="float:left; vertical-align: top; width: 30px; height: 100%;">
                <graceful-image srcs="user.imageUrls" width="25" height="25"></graceful-image>
            </div>
            <div style="margin-left: 40px;">
                <p><input type="text" ng-model="newComment" placeholder="Write a comment" />&nbsp;
                <button class="btn-xs btn btn-primary" ng-enabled="newComment" ng-click="addComment()">Post</button>
                <spinner show="showSpinner" style="display: inline; width: 60px; height: 60px;"></spinner>
            </div>
        </div>

    </div>
</div>