// Core variables and mixins
@import "bootstrap\variables.less";
@import "variables.less";
@import "bootstrap\mixins.less";

// Reset
@import "bootstrap\normalize.less";
@import "bootstrap\print.less";

// Core CSS
@import "bootstrap\scaffolding.less";
@import "bootstrap\type.less";
@import "bootstrap\code.less";
@import "bootstrap\grid.less";
@import "bootstrap\tables.less";
@import "bootstrap\forms.less";
@import "bootstrap\buttons.less";

// Components
@import "bootstrap\component-animations.less";
@import "bootstrap\glyphicons.less";
@import "bootstrap\dropdowns.less";
@import "bootstrap\button-groups.less";
@import "bootstrap\input-groups.less";
@import "bootstrap\navs.less";
@import "bootstrap\navbar.less";
@import "bootstrap\breadcrumbs.less";
@import "bootstrap\pagination.less";
@import "bootstrap\pager.less";
@import "bootstrap\labels.less";
@import "bootstrap\badges.less";
@import "bootstrap\jumbotron.less";
@import "bootstrap\thumbnails.less";
@import "bootstrap\alerts.less";
@import "bootstrap\progress-bars.less";
@import "bootstrap\media.less";
@import "bootstrap\list-group.less";
@import "bootstrap\panels.less";
@import "bootstrap\wells.less";
@import "bootstrap\close.less";

// Components w/ JavaScript
@import "bootstrap\modals.less";
@import "bootstrap\tooltip.less";
@import "bootstrap\popovers.less";
@import "bootstrap\carousel.less";

// Utility classes
@import "bootstrap\utilities.less";
@import "bootstrap\responsive-utilities.less";

.form-box {
    margin-top: 20px;
    padding: 40px 20px 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.tabicon
{
    padding: 0 5px;
}

@media (max-width: @screen-sm) {
    .tabicon {
        font-size: 18px;
    }
}

@media (max-width: @screen-xs) {
    li.activities-tab > a
    {
        padding: 8px 10px;
    }
}


.tabicon-1 {  .glyphicon-home }
.tabicon-2 {  .glyphicon-refresh }
.tabicon-3 {  .glyphicon-shopping-cart }
.tabicon-4 {  .glyphicon-cutlery }
.tabicon-5 {  .glyphicon-road }
.tabicon-6 {  .glyphicon-globe }

#activity-header {
    margin-bottom: 6px;
}
#activity-header h3 {
    margin: 8px 0 0 0;
}

@media (max-width: 480px) {
    #activity-header h3 {
        font-size: 18px;
        margin: 4px 0 0 0;
    }

}

.timeline-item.panel {
    margin: 0px 0px 10px 0px;
}


.timeline-item .panel-body {
    padding: 0px 0px 0px 0px;
}

.day-summary {
    display: inline-block;
    width: 150px;
    margin: 15px 5px 5px 5px;
    h4 {
            display:inline-block;
            padding: 2px 5px;
            vertical-align: middle;
            font-size: @font-size-h4 - 3px;
    }
}

@media(max-width:@screen-sm) {
    .day-summary {
        padding: 2px 1px;
        width: 140px;
        text-align: left;
    }
}

@media(max-width:@screen-xs) {
    .day-summary {
        display: block;
        width: 200px;
        margin: 10px auto;
        padding: 10px; 
        text-align: left !important;
    }

}




#activity-header {
    margin-bottom: 6px;
}
#activity-header h3 {
    margin: 8px 0 0 0;
}

@media (max-width: 480px) {
    #activity-header h3 {
        font-size: 18px;
        font-weight: bold;
    }

}


.uploadProfileAction
{
    position:absolute;
    width: 160px;
    top: 202px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: smaller;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.6) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.mini-spinner
{
        width: 120px;
        height: 120px;
        display: block;
        text-align: center;
        margin: auto;
}

.alert-notification
{
    position: fixed; 
    top: 0; 
    width: 70%; 
    left: 15%; 
    text-align: center; 
    opacity: 0.95; 
}